ODD4GEProject.odd

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema> 
    xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"
    sch:ns="http://www.tei-c.org/ns/1.0" prefix="tei"
</sch:schema>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_customization.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD File for Great Exhibition Project</title>
      </titleStmt>
      <publicationStmt>
        <p>Born Digital</p>
      </publicationStmt>
      <sourceDesc>
        <p>Catalogue of the Great Exhibition of 1851</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="oddex1" start="TEI">
        <desc/>
        <moduleRef key="header" include="authority availability fileDesc publicationStmt sourceDesc teiHeader taxonomy titleStmt"/>
        <moduleRef key="core" include="author bibl biblScope citedRange date editor head name note p pb pubPlace publisher resp respStmt title"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="body div text"/>
        <moduleRef key="namesdates" include="persName placeName date"/>
      </schemaSpec>     
      <elementSpec ident="category" module="header" mode="change">
        <content>
          <textNode/>
          <elementRef key="category"/>
        </content>
        <attList>
          <attDef ident="ref">
            <valList type="closed">
              <valItem ident="#Paper">
                <gloss>PAPER, PRINTING, AND BOOKBINDING</gloss>
              </valItem>
              <valItem ident="#Metal">
                <gloss>WORKS IN PRECIOUS METALS, JEWELLRY, ETC.</gloss>
              </valItem>
              <valItem ident="#Glass">
                <gloss>GLASS</gloss>
              </valItem>
              <valItem ident="#Furniture">
                <gloss> FURNITURE, UPHOLSTERY, PAPER HANGINGS, PAPIER MACHE AND JAPANNED GOODS</gloss>
              </valItem>
              <valItem ident="#SmallWares">
                <gloss>MISCELLANEOUS MANUFACTURES AND SMALL WARES</gloss>
              </valItem>
            </valList> 
            <exemplum>
                <eg>The <gi>category</gi> element can be used for both overall denotation of the five classes covered
                in this project (Paper, Metal, Glass, Furniture, SmallWares) or for subclasses under those main headings.</eg>
            </exemplum>
            <remarks><p>This project uses taxonomies to categorize classes and subclasses of materials and objects
            as presented in the Great Exhibition Catalogue.</p></remarks>
          </attDef>
        </attList>
      </elementSpec>
        <elementSpec ident="category" module="header" mode="change">
          <content>
            <alternate>
              <alternate>
                <alternate minOccurs="1"
                  maxOccurs="unbounded">
                  <elementRef key="category"/>
                  <elementRef key="taxonomy"/>
                </alternate>
                <sequence>
                  <alternate minOccurs="1"
                    maxOccurs="unbounded">
                    <classRef key="model.glossLike"/>
                    <classRef key="model.descLike"/>
                  </alternate>
                  <alternate minOccurs="0"
                    maxOccurs="unbounded">
                    <elementRef key="category"/>
                    <elementRef key="taxonomy"/>
                  </alternate>
                </sequence>
              </alternate>
              <sequence>
                <classRef key="model.glossLike"/>
                <alternate minOccurs="0"
                  maxOccurs="unbounded">
                  <elementRef key="category"/>
                  <elementRef key="taxonomy"/>
                </alternate>
              </sequence>
            </alternate>
          </content>
          <constraintSpec ident="pInCategory" scheme="schematron">
            <constraint>
              <sch:pattern>
              <sch:rule context="tei:teiHeader/taxonomy/category"/>
                <sch:report test="tei:category">
                  A &lt;category&gt; element in the &lt;taxonomy&gt; may not contain a &lt;p&gt; element.
                </sch:report>
              </sch:rule>
              </sch:pattern>
            </constraint>
          </constraintSpec>
        </elementSpec>
    </body>
  </text>

